@import url("https://fonts.googleapis.com/css2?family=Itim&family=Unbounded:wght@300;400;500;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Unbounded", cursive;
}

body {
  overflow-x: hidden;
  background-color: springgreen;
  border: 15px solid transparent;
  -o-border-image: url("./images/border-leaf.png") 10;
     border-image: url("./images/border-leaf.png") 10;
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
}

div.game-container {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}
@media (max-width: 800px) {
  div.game-container {
    width: 100%;
  }
}

ul.result {
  font-size: 30px;
  color: white;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
ul.result li:first-of-type {
  position: absolute;
  left: 22px;
  font-size: 18px;
}
ul.result li:last-of-type {
  padding-top: 10px;
}

div.app {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: springgreen;
  gap: 10px;
}

div.app div {
  color: white;
  width: 90%;
  height: 80px;
  font-size: 40px;
  flex-basis: 30%;
  margin-top: 10px;
  margin-left: 15px;
  line-height: 80px;
  cursor: pointer;
  transition: all 0.3s linear;
}

div.app div:hover {
  background-color: black;
}

.disable {
  pointer-events: none;
}

.start-game {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 800px) {
  .start-game {
    width: 100%;
  }
}
.start-game button {
  background-image: url("./images/bg-btn-start.jpg");
  border: 1px solid #f05;
  width: 148px;
  padding: 20px 0;
  background-size: 106%;
  font-size: 30px;
  font-weight: bold;
  background-position-x: 59%;
  background-position-y: 76%;
  background-repeat: no-repeat;
}
@media (max-width: 800px) {
  .start-game button {
    width: 100px;
    padding: 0;
    font-size: 16px;
  }
}
.start-game img.tree {
  position: fixed;
  top: 523px;
  left: -105px;
  animation: showTree 1s ease;
}

.start-game input {
  margin-top: 20px;
  background-color: transparent;
  color: #f05;
  border: 11px solid #f05;
  text-align: center;
  padding: 9px;
  border-radius: 6px;
  outline: none;
  position: relative;
  left: 0;
  animation: showGame 1s;
}
@media (min-width: 801px) {
  .start-game input {
    left: 0;
  }
}

.start-game p {
  margin-top: 20px;
  letter-spacing: 10px;
}
.start-game p span:hover {
  color: #f05;
}

div.app div {
  height: calc(100vh - 482px);
}

.theme-1,
div.app div.theme-1 {
  background-color: #f05;
}

.theme-2,
div.app div.theme-2 {
  background-color: black;
}

.theme-3,
div.app div.theme-3 {
  background-color: lightseagreen;
}

.theme-4,
div.app div.theme-4 {
  background-color: rebeccapurple;
}

.themes-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
}
@media (max-width: 800px) {
  .themes-area {
    flex-direction: column;
  }
}
.themes-area li {
  width: 400px;
  padding: 10px;
}
@media (max-width: 800px) {
  .themes-area li {
    width: 100%;
  }
}
.themes-area img,
.themes-area .active {
  width: 100%;
  border: 10px solid transparent;
}
.themes-area img:hover,
.themes-area .active:hover {
  -o-border-image: url("./images/border-leaf.png") 10;
     border-image: url("./images/border-leaf.png") 10;
}
.themes-area img.active,
.themes-area .active.active {
  -o-border-image: url("./images/border-leaf.png") 10;
     border-image: url("./images/border-leaf.png") 10;
}

.result,
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.result img,
.box img {
  width: 50px;
}

li:not(.winner) img {
  animation: imgAnim 0.3s ease-in;
}

@keyframes showGame {
  0% {
    left: -1000px;
  }
  50% {
    left: -500px;
  }
  100% {
    left: 0;
  }
}
@keyframes ShowTree {
  0% {
    top: 523px;
    left: -105px;
    width: 100%;
  }
  50% {
    top: -37px;
    width: 100%;
    left: 0;
  }
  100% {
    top: 523px;
    left: -105px;
    width: 100%;
  }
}
@keyframes imgAnim {
  from {
    -o-object-position: -50px;
       object-position: -50px;
  }
  to {
    -o-object-position: 0;
       object-position: 0;
  }
}/*# sourceMappingURL=style.css.map */