$main_color: #f05;
$yellow_color: rgb(255, 255, 0);

@import url("https://fonts.googleapis.com/css2?family=Itim&family=Unbounded:wght@300;400;500;600;700;900&display=swap");

@mixin ShowGameAnimation($lastLeft) {
  @keyframes showGame {
    0% {
      left: -1000px;
    }
    50% {
      left: -500px;
    }
    100% {
      left: $lastLeft;
    }
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Unbounded", cursive;
}

body {
  overflow-x: hidden;
}

div.game-container {
  background-color: $main_color;
  text-align: center;
  width: 800px;
  margin: 0 auto;

  @media (max-width: 800px) {
    width: 100%;
  }
}

div.result {
  font-size: 30px;
  color: white;
  padding-bottom: 20px;
}

div.result span {
  color: $yellow_color;
}

div.app {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  gap: 10px;
}

div.app div {
  background-color: $main_color;
  color: white;
  width: 90%;
  height: 80px;
  font-size: 40px;
  flex-basis: 30%;
  margin-top: 10px;
  margin-left: 15px;
  line-height: 80px;
  cursor: pointer;
  transition: all 0.3s linear;
}

div.app div:hover {
  background-color: black;
}

.disable {
  pointer-events: none;
}

.start-game {
  width: 800px;
  margin: 0 auto;
  text-align: center;

  @media (max-width: 800px) {
    width: 100%;
  }
}

.start-game input {
  background-color: transparent;
  color: $main_color;
  border: 11px solid $main_color;
  text-align: center;
  padding: 9px;
  border-radius: 6px;
  outline: none;
  position: relative;
  left: 0;
  animation: showGame 1s;

  @media (min-width: 801px) {
    left: 0;
  }
}

.start-game p {
  margin-top: 20px;
  letter-spacing: 10px;
}

.start-game p span:hover {
  color: $main_color;
}

.start-game button {
  margin-top: 20px;
  background-color: $yellow_color;
  border: 1px solid $main_color;
  width: 200px;
  padding: 20px 0;
}

@include ShowGameAnimation(0);
